*{
     padding: 0;
     margin: 0;
     font-family: 'Roboto', sans-serif;
}
body{
     background-image: url(./images/2927262.jpg);
     background-size: cover; 
     /* background-position: center; */
     background-repeat: no-repeat;
}

.check{
     padding: 10px;
     font-size: 25px;
     font-style: italic;
     color:#092852;
}

div#sum {
    color: #afafaf;
}

.container{
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     
}
.container #slogan{
     color: #f5f6fa;
     margin-bottom: 15px;
     font-size: 40px;
     background-color: #3d3d3d;
     padding: 20px;
     border: 5px solid rgb(145, 122, 122);
     border-radius: 20px;
}
.container .start{
     display: flex;
     flex-direction: row;
     margin-top: 15px;
}
.container .start #select{
     width: 100%;
     height: 45px;
     font-size: 20px;
     font-weight: 600;
     color: rgb(0, 0, 0);
     background-color: #ffffff;
     padding-left: 10px;
     cursor: pointer;
}.container .start #select:hover{
     border:2px solid rgb(82, 79, 79);
}
.container .start #seach_class{
     font-size: 45px;
     color: #ffffff;
     margin-left: 20px;
     cursor: pointer;
}
.container .start #seach_class:hover{
     color: rgb(9, 97, 168);
}
.container #time{
     color: rgb(255, 255, 255);
     font-size: 50px;
     margin-bottom: 20px;
}
.container p{
     color: #ffffff;
     font-size: 40px;
     padding: 10px;
     font-weight: 700;
     background-color: rgb(201, 152, 46);
     width: 70%;
     border-radius: 15px;
     margin: 30px auto;
     display: none;
     border: 3px solid #ffdf86;
}
.container >i{
     font-size: 60px;
     color: rgb(255, 255, 255);
}
.container #example{
     margin-bottom: 30px;
     font-size: 30px;
     font-weight: 600;
     color: cornsilk;
     background-color: #025321;
     padding: 20px;
     border-radius: 20px;
     display: none;
}
.container input{
     font-size: 25px;
     width: 30%;
     display: block;
     margin: 0 auto;
     height: 50px;
     margin-top: 10px;
     padding-left: 5px;
     border: 1px solid #dcdde1;
     display: none;
}
.container input:focus{
     width: 80%;
     transition : 0.5s ease-in-out;
}
.container #submit{
     font-size: 20px;
     margin: 0 auto;
     margin-top: 20px;
     width: 40%;
     height: 50px;
     border-radius: 10px;
     border:1px solid #0097e6;
     background-color: #0097e6;
     cursor: pointer;
     color: #ffffff;
     display: none;
}
.container #submit:hover{
     background-color: #0b6c9c;
}

.container #err{
     margin: 0 auto;
     color: rgb(255, 255, 255);
     margin-top: 20px;
     font-size: 30px;
     background-color: red;
     border-radius: 20px;
     padding: 10px;
     display: none;
     width: 50%;
     height: 40px;
}
.container #next{
     background-color: seagreen;
     border: 1px solid seagreen;
     margin: 5px auto;
     cursor: pointer;
     width: 200px;
     height: 50px;
     font-size: 20px;
     border-radius: 10px;
     color: seashell;
}
.container #next:hover{
     background-color: rgb(29, 100, 60);
}


/* REPONSIVE */
@media (max-width : 840px){
     body{
          background-image: url(./images/bg6.jpg);
     }
     .check #sum{
          font-size: 30px;
          color: cornsilk;
     }
     .container #slogan{
          color: #f5f6fa;
          margin-bottom: 15px;
          font-size: 40px;
     }
     .container .start{
          display: flex;
          flex-direction: row;
          margin-top: 15px;
     }
     .container .start #select{
          width: 300px;
          margin: 0 auto;
          height: 50px;
          font-size: 20px;
          font-weight: 600;
          color: rgb(0, 0, 0);
          background-color: #d1d8e0;
     }
     .container .start #seach_class{
          font-size: 50px;
          color: #d1d8e0;
          margin-left: 10px;
          cursor: pointer;
     }
     .container #next{
          font-size: 40px;
          width: 300px;
          height: 70px;
     }
     .container #time,.container>i{
          font-size: 60px;
          margin-bottom: 20px;
     }
     .container #namebt{
          font-size: 40px;
          width: 300px;
     }
     .container #example{
          font-size: 40px;
          width: 650px;
          background-color: rgb(65, 0, 0);
          color: rgb(255, 255, 255);
          margin-top: 40px;
     }
     .container #result{
          font-size: 35px;
          height: 60px;
          margin-top: 40px;
     }
     .container #submit{
          font-size: 35px;
          height: 60px;
          margin-top: 50px;
     }
     .container #err{
          margin-top: 30px;
     }
}
@media (max-width : 480px){
     body{
          background-image: url(./images/bg6.jpg);
     }
     .check #sum{
          font-size: 17px;
          color: cornsilk;
     }
     .container #slogan{
          color: #f5f6fa;
          margin-bottom: 15px;
          font-size: 20px;
     }
     .container .start{
          display: flex;
          flex-direction: row;
          margin-top: 15px;
     }
     .container .start #select{
          width: 150px;
          height: 30px;
          font-size: 16px;
          font-weight: 600;
          color: rgb(0, 0, 0);
          background-color: #d1d8e0;
     }
     .container .start #seach_class{
          font-size: 30px;
          color: #d1d8e0;
          margin-left: 10px;
          cursor: pointer;
     }
     .container #next{
          font-size: 25px;
          width: 200px;
          height: 50px;
     }
     .container #time, .container>i{
          font-size: 30px;
          margin-bottom: -15px;
     }
     .container #time{
          margin-bottom: 8px;
     }
     .container #namebt{
          font-size: 20px;
          width: 200px;
          font-weight: 500;
          margin-bottom: -20px;
     }
     .container #example{
          font-size: 20px;
          width: 300px;
          background-color: rgb(65, 0, 0);
          color: rgb(255, 255, 255);
          font-weight: 500;
          margin-bottom: -20px;
     }
     .container #result{
          font-size: 18px;
          height: 40px;
          margin-bottom: -20px;
     }
     .container #submit{
          font-size: 18px;
          height: 40px;
          margin-top: 40px;
     }
     .container #err{
          font-size: 20px;
          height:30px;
     }
}
